<!DOCTYPE html>
<html>
  <head>
    <title>Korekue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Dela+Gothic+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>コレクエ</h1>
      <h3>今日のご飯に悩む琉大生へ</h3>
    </header>
    <%= yield %>
  </body>
</html>
