<!DOCTYPE html>
<html>
  <head>
    <title>Korekue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>今日のご飯に悩む者たちへ</h1>
    <h1>コレクエ</h1>
    <%= yield %>
  </body>
</html>
